@import "./components/all.min.css";

/* global */

:root {
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-blue: hsl(209, 23%, 22%);
  --dark-blue-background: hsl(207, 26%, 17%);
  --dark-blue-text: hsl(200, 15%, 8%);
  --white: #fff;

  --shadow-color: hsl(0deg 0% 52% / 37%);
  --shadow-dark-color: hsla(0, 0%, 0%, 0.212);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.error {
  text-align: center;
  margin-top: 150px;
}

/* main */

main {
  padding-bottom: 40px;
  min-height: 100vh;
  background-color: var(--light-gray);
}

.dark main {
  background-color: var(--dark-blue-background);
}

/* country-details */

/* media query */

@media (min-width: 770px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 950px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
